{
    admin 0.0.0.0:2019 {
        origins caddy:2019 caddy localhost:2019 127.0.0.1:2019 localhost 127.0.0.1
    }
}

portmap.pallabdev.in {
    reverse_proxy app:3000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
